$primary: #5265E1;
$secondary: #FA5959;

html, body{
    overflow-x: hidden;
}

.nav-item{
    font-weight: bold;
}
.nav-link:hover{
    color: $secondary !important;
    cursor: pointer;
}

.navegador button:hover {
    background-color: white;
    color: $secondary !important;
}

.hero{
    position: relative;
    z-index: 3;
}
.btn.get-chrome:hover{
    color: $primary !important;
}
.btn.get-firefox:hover{
    color: black !important;
    border-color: black;
}


.sombra{
    top: 35%;
    right: 0;
    width: 40%;
    height: 300px;
    border-radius: 150px 0 0 150px;
    position: absolute;
    background: hsl(231deg, 69%, 60%);
}


.features .nav-tabs .nav-link {border: none !important;}
.features .nav-link.active {
    border: none;
    border-bottom: 3px solid red !important;
}
.features .nav-link {border-bottom: 4px solid lightgray !important;}

.features p, .download p{
    max-width: 500px;
    margin: 0 auto;
}

.cards {
    min-height: 600px;
}
.card hr{
    border-top: dotted 9px;
}

.accordion button{
    font-weight: bold;
}
.accordion button::after, .accordion-button::after{
    color: $primary !important;
    font-weight: bold;
}

h5{
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 15px !important;
    font-weight: bold;
}

#validationCustom{
    min-width: 300px;
}
input:hover{
    background-color: white !important;
    color: $secondary !important;
}

.red i {
    font-size: 19px;
}
.red i:hover{
    cursor: pointer;
    color: $secondary !important;
}

footer{
    background-color: #242946;
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";