$primary: #5265E1;
$secondary: #FA5959;

html, body{
    overflow-x: hidden;
}

.hero{
    position: relative;
    z-index: 3;
}


.sombra{
    top: 35%;
    right: 0;
    width: 40%;
    height: 300px;
    border-radius: 150px 0 0 150px;
    position: absolute;
    background: hsl(231deg, 69%, 60%);
}


.features .nav-tabs .nav-link {border: none !important;}
.features .nav-link.active {
    border: none;
    border-bottom: 3px solid red !important;
}
.features .nav-link {border-bottom: 4px solid lightgray !important;}

.features p, .download p{
    max-width: 500px;
    margin: 0 auto;
}

.cards{
    height: 600px;
}
.card hr{
    border-top: dotted 9px;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";